table, th, td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

table th {
    background-color: #d2d2d2;
    font-weight: normal;
  }
  
  table tr:nth-child(even) {
    background-color: #efefef;
  }
  
  table tr:nth-child(odd) {
    background-color: #ffffff;
  }